// *** SMACSSified ! *** //

// *** Imports *** //
// Sass imports.
// Code here shouldn’t generate any selectors or rules.
@import "../foundation-optimized/sass/components/index";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";
@import "partials/sourcesans";

// *** Base *** //
// A Base rule is applied to an element using an element selector, a descendent
// selector, or a child selector, along with any pseudo-classes. It doesn’t
// include any class or ID selectors. It is defining the default styling for how
// that element should look in all occurrences on the page.
// -- http://smacss.com/book/type-base

// * Anchors * //
a {
  &:link {
    color: $anchor-font-color;
    text-decoration: none;
  }
  &:hover {
    color: $anchor-font-color-hover;
    text-decoration: underline;
  }
  &:active {
    color: $anchor-font-color-active;
  }
  &:visited {
    color: $anchor-font-color-visited;
    text-decoration: none;
  }
}

// * Headings * //
h1 {
  @include boldheader();
}
h2 {
  @include boldheader();
}
h3 {
  @include quietheader();
}
h4 {
  @include boldheader();
}
h5 {
  @include quietheader();
}
h6 {
  @include quietheader();
}
