////////////////////////
// Layout Partial
//
// Code here shouldn’t generate any selectors or rules.
////////////////////////

// ** Regions ** //

// * Header * //
@if $layout-header {
  #header {
    @include rem-fallback(margin-bottom, 18);
    @include rem-fallback(padding, 18, 0);

    #site-name {
      @include rem-fallback(margin-top, 10);
      float: left;
    }
  }
}

// * Footer * //
@if $layout-footer {
  #footer {
    @include rem-fallback(margin-top, 36);
    @include rem-fallback(padding, 14, 18, 18);
  }
}


// ** Blocks ** //

// * Views Search * //
@if $layout-header-block-views-search {
  #header .views-exposed-form {
    .views-exposed-widget {
      @include rem-fallback(padding, 0, 9, 0, 0);
    }

    .views-submit-button {
      padding-right: 0;

      .form-submit {
        @include rem-fallback(margin-top, 32);
      }
    }
  }
}

// * User login * //
@if $layout-header-block-user-login {
  #header #block-user-login {
    .form-item-name,
    .form-item-persistent-login {
      @include rem-fallback(padding-right, 9);
      clear: left;
      float: left;
    }

    .form-item-pass,
    .form-actions {
      clear: right;
      float: right;
    }

    .form-item-name,
    .form-item-pass {
      width: 50%;
    }

    .form-item-persistent-login,
    .form-actions {
      @include rem-fallback(margin-bottom, 9);
    }
  }
}

// * User menu * //
@if $layout-header-block-user-menu {
  #header #block-system-user-menu {
    h2 {
      float: right;
      margin: rhythm(0.25, 30px) 0;
    }

    .content {
      clear: right;
      float: right;
    }
  }
}
