////////////////////////
// Mixins Partial
//
// Sass mixins that generate selectors or rules when called elsewhere.
// Code here shouldn’t generate any selectors or rules on their own.
////////////////////////

@mixin boldheader($font-weight, $color: $eigengrau, $font-style: "", $text-transform: "") {
  @if $font-style != "" {
    font-style: $font-style;
  }
  @if $text-transform != "" {
    text-transform: $text-transform;
  }
  color: $color;
  font-weight: $font-weight;
}

@mixin quietheader($font-weight, $color: $gray, $font-style: "", $text-transform: "") {
  @if $font-style != "" {
    font-style: $font-style;
  }
  @if $text-transform != "" {
    text-transform: $text-transform;
  }
  color: $color;
  font-weight: $font-weight;
}

@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../vendor/alphecca/fonts/#{$font-family}/#{$font-filename}-webfont.eot');
    src: url('../vendor/alphecca/fonts/#{$font-family}/#{$font-filename}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/alphecca/fonts/#{$font-family}/#{$font-filename}-webfont.woff') format('woff'),
         url('../vendor/alphecca/fonts/#{$font-family}/#{$font-filename}-webfont.ttf') format('truetype'),
         url('../vendor/alphecca/fonts/#{$font-family}/#{$font-filename}-webfont.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}


// ** Border Radius ** //

// We use this to control border radius.
// $radius - Default: $global-radius || 4px
@mixin radius($radius:$global-radius) {
  @if $radius {
    @include border-radius($radius);
  }
}


// ** Breadcrumb ** //

// Breadcrumb container
@mixin crumb-container {
  @include radius($global-radius);
  background-color: tint($gray_8, 60%);
  border-color: $gray_8;
  border-style: solid;
  border-width: 1px;
  display: block;
  list-style: none;
  margin: rem-calc(18 0);
  overflow: hidden;
  padding: rem-calc(9 14 9);
}

// Individual breadcrumbs
@mixin crumbs {
  color: $anchor-font-color;
  font-size: rem-calc(11);
  text-transform: uppercase;

  &:hover, &:focus {
    color: $anchor-font-color-hover;
    text-decoration: none;
  }

  &:before {
    content: "/";
    color: $gray_6;
    margin: rem-calc(0 12);
    position: relative;
    top: 1px;
  }

  &:first-child:before {
    content: "";
    margin: 0;
  }
}


// ** Sub-nav ** //

$sub-nav-item-divider: "|" !default;
$sub-nav-item-divider-margin: rem-calc(12) !default;

@mixin sub-nav {
  @include horizontal-list($padding: false);
  margin: rem-calc(10 0);

  li {
    @include adjust-font-size-to(11px);
    color: $gray_8;
    font-family: $body-font-family;
    margin-#{$default-float}: rem-calc(16);
    margin-bottom: rem-calc(10);
    text-transform: uppercase;

    a {
      color: $secondary-color;
      text-decoration: none;

      &:hover {
	color: $gray_6;
      }
    }

    a.active {
      @include radius($global-radius);
      background: $anchor-font-color;
      color: $paperwhite;
      cursor: default;
      padding: rem-calc(3 16);

      &:hover {
	background: $anchor-font-color-hover;
      }
    }

    @if $sub-nav-item-divider != "" {
      margin-#{$default-float}: 0;
      padding-#{$opposite-direction}: 0;

      &:before {
        content: "#{$sub-nav-item-divider}";
        margin: 0 $sub-nav-item-divider-margin;
      }

      &:first-child:before {
        content: "";
        margin: 0;
      }
    }
  }
}


// ** Tables ** //

@mixin table {
  background: $white;
  border: 1px solid $gray_8;
  border-collapse: separate;
  border-spacing: 1px;
  margin-bottom: rem-calc(18);
  width: 100%;

  thead,
  tfoot {
    background: tint($gray_8, 60%);

    tr {
      th,
      td {
        padding: rem-calc(9 14);
        text-align: $default-float;
      }
      th {
        @include adjust-font-size-to(14px);
        @include boldheader(700, $gray, "", uppercase);
      }
    }
  }

  tr {
    td {
      @include adjust-font-size-to(14px);
      padding: rem-calc(9 14);
    }

    &.even { background: tint($gray_8, 80%); }
  }

  thead tr th,
  tfoot tr th,
  tbody tr td,
  tr td,
  tfoot tr td { display: table-cell; line-height: rem-calc(18); }
}
