////////////////////////
// States Partials
//
// Code here shouldn’t generate any selectors or rules.
////////////////////////

// ** Styleguide ** //

// * Headings & Anchors * //
a:link {
  h1, h2, h3, h4, h5, h6,
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    color: $anchor-font-color;
  }
}
a:visited {
  h1, h2, h3, h4, h5, h6,
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    color: $anchor-font-color-visited;
  }
}
a:hover {
  h1, h2, h3, h4, h5, h6,
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    color: $anchor-font-color-hover;
  }
}
a:active {
  h1, h2, h3, h4, h5, h6,
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    color: $anchor-font-color-active;
  }
}

// * Unordered Lists * //
ul {
  &.square { @extend %square; }
  &.circle { @extend %circle; }
  &.disc { @extend %disc; }
  &.no-bullet { @extend %no-bullet; }
}


// ** Layouts ** //

// * Header * //
#header {
  .block {
    @include breakpoint($medium) {
      clear: right;
      float: right;
      margin-left: rem-calc(18);
    }
  }

  .block-superfish {
    @include breakpoint($medium) {
      clear: both;
      float: none;
      margin-left: 0;
    }
  }

  #block-user-login {
    @include breakpoint($xlarge) {
      clear: none;
    }
  }
}


// ** Modules ** //

// * Secondary tabs * //
ul.tabs.secondary {
  @include sub-nav(false);
}

// * Main-nav * //
ul.sf-menu.sf-accordion {
  @include sf-main-nav-accordion;
}
