////////////////////////
// Styleguide Partial
////////////////////////

// ** Base ** //
// A Base rule is applied to an element using an element selector, a descendent
// selector, or a child selector, along with any pseudo-classes. It doesn’t
// include any class or ID selectors. It is defining the default styling for how
// that element should look in all occurrences on the page.
// -- http://smacss.com/book/type-base

// * Global Elements * //
html,
body {
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  cursor: $cursor-default-value;
  font-family: $body-font-family;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  position: relative;
}

// * Anchors * //
a {
  &:link {
    color: $anchor-font-color;
    text-decoration: none;
  }
  &:hover {
    color: $anchor-font-color-hover;
    text-decoration: underline;
  }
  &:active {
    color: $anchor-font-color-active;
  }
  &:visited {
    color: $anchor-font-color-visited;
    text-decoration: none;
  }
}

// * Headings * //
h1 {
  @include adjust-font-size-to(36px);
  @include boldheader();
  margin: rhythm(0.5, 36px) 0 rhythm(1, 36px) 0;
}
h2 {
  @include adjust-font-size-to(30px);
  @include boldheader();
  margin: rhythm(1, 30px) 0;
}
h3 {
  @include adjust-font-size-to(25px);
  @include quietheader();
  margin: rhythm(1, 25px) 0;
}
h4 {
  @include adjust-font-size-to(21px);
  @include boldheader();
  margin: rhythm(1, 21px) 0;
}
h5 {
  @include adjust-font-size-to(18px);
  @include quietheader();
  margin: rhythm(1, 18px) 0;
}
h6 {
  @include adjust-font-size-to(15px);
  @include quietheader();
  margin: rhythm(1, 15px) 0;
}

// * Images * //
// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}


// ** Regions ** //

// * Header * //
#header {
  border-bottom: 1px solid $gray_8;
}

// * Footer * //
#footer {
  @include border-top-right-radius($global-radius);
  @include border-top-left-radius($global-radius);
  background-color: tint($gray_8, 60%);
  border: 1px solid $gray_8;
  border-bottom: none;
}
