////////////////////////
// Styleguide Partial
////////////////////////

// ** Base ** //
// A Base rule is applied to an element using an element selector, a descendent
// selector, or a child selector, along with any pseudo-classes. It doesn’t
// include any class or ID selectors. It is defining the default styling for how
// that element should look in all occurrences on the page.
// -- http://smacss.com/book/type-base

// * Global Elements * //
html,
body {
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  cursor: $cursor-default-value;
  font-family: $body-font-family;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  position: relative;
}

// * Anchors * //
a {
  &:link {
    color: $anchor-font-color;
    text-decoration: none;
  }
  &:visited {
    color: $anchor-font-color-visited;
    text-decoration: none;
  }
  &:hover {
    color: $anchor-font-color-hover;
    text-decoration: underline;
  }
  &:active {
    color: $anchor-font-color-active;
  }
}

// * Headings * //
h1, h2, h3, h4, h5, h6 {
  font-family: $OpenSans;
  text-rendering: optimizeLegibility;
}
h1 {
  @include adjust-font-size-to(36px);
  @include boldheader(700, $eigengrau, "", "");
  margin: rhythm(0.5, 36px) 0 rhythm(1, 36px) 0;
}
h2 {
  @include adjust-font-size-to(30px);
  @include quietheader(300, $gray, "", "");
  margin: rhythm(1, 30px) 0;
}
h3 {
  @include adjust-font-size-to(25px);
  @include quietheader(300, $eigengrau, "", "");
  margin: rhythm(1, 25px) 0;
}
h4 {
  @include adjust-font-size-to(21px);
  @include boldheader(400, $gray, "", "");
  margin: rhythm(1, 21px) 0;
}
h5 {
  @include adjust-font-size-to(18px);
  @include quietheader(300, $eigengrau, italic, "");
  margin: rhythm(1, 18px) 0;
}
h6 {
  @include adjust-font-size-to(15px);
  @include boldheader(700, $gray, "", uppercase);
  margin: rhythm(1, 15px) 0;
}

// * Images * //
// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;

  a & {
    border: none;
  }
}

// * Tables * //
table {
  @include table;
}

// * Typography Defaults * //
p {
  margin: rem-calc(18 0);
}

hr {
  border: solid $gray_8;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: rem-calc(18 0);
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  color: $gray;
  font-size: 60%;
  line-height: inherit;
}

pre {
  @include box-shadow(rgba(0, 0, 0, .05) 0px 2px 10px inset);
  background-color: tint($gray_8, 80%);
  margin-bottom: rem-calc(18);
  padding: rem-calc(14);
}

code {
  color: $secondary-color;
  font-family: $monospace;
  font-size: 90%;
}

sup {
  @include adjust-font-size-to(11px);
  margin: rem-calc(3 0 -3);
}

sub {
  @include adjust-font-size-to(11px);
  margin: rem-calc(-3 0 3);
}

// * Lists * //
:not(nav) ul,
ol,
dl {
  list-style-position: outside;
  margin-bottom: rem-calc(18);
}

// * Unordered Lists * //
ul {
  margin-#{$default-float}: 1.1rem;
  li {
    ul,
    ol {
      font-size: 1rem; /* Override nested font-size change */
      margin-#{$default-float}: rem-calc(18);
      margin-bottom: 0;
    }
  }
}

// * Ordered Lists * //
ol {
  margin-#{$default-float}: 1.4rem;
  li {
    ul,
    ol {
      margin-#{$default-float}: rem-calc(18);
      margin-bottom: 0;
    }
  }
}

// * Definition Lists * //
dl {
  dt {
    @include adjust-font-size-to(14px);
    @include boldheader(700, $gray, "", uppercase);
    margin-bottom: 0.3rem;
  }
  dd { margin-bottom: rem-calc(14); }
}

// * Abbreviations * //
abbr,
acronym {
  border-bottom: 1px dotted $gray_8;
  color: $body-font-color;
  cursor: $cursor-help-value;
  font-size: 90%;
  text-transform: uppercase;
}
abbr {
  text-transform: none;
}

// * Blockquotes * //
blockquote {
  border-#{$default-float}: 1px solid $gray_8;
  margin: rem-calc(0 0 18);
  padding: rem-calc(9 18 0 18);

  cite {
    color: scale-color($eigengrau, $lightness: 23%);
    display: block;
    font-size: rem-calc(14);
    &:before {
      content: "\2014 \0020";
    }

    a,
    a:visited {
      color: scale-color($eigengrau, $lightness: 23%);
    }
  }
}
blockquote,
blockquote p {
  color: scale-color($eigengrau, $lightness: 35%);
}


// ** System ** //

// * Messages * //
div.messages {
  @include border-radius($global-radius);
  background-position: rem-calc(14) rem-calc(18);
  background-repeat: no-repeat;
  border: 1px solid;
  margin: rem-calc(18 0);
  padding: rem-calc(14 18 14 44);
}
div.status {
  background-color: $pale-green;
  background-image: url(../vendor/alphecca/images/status-16.png);
  border-color: $light-green;
  color: $green;
}
div.warning {
  background-color: $pale-orange;
  background-image: url(../vendor/alphecca/images/warning-16.png);
  border-color: $light-orange;
  color: $orange;
}
div.error {
  background-color: $pale-red;
  background-image: url(../vendor/alphecca/images/error-16.png);
  border-color: $light-red;
  color: $red;
}


// ** Regions ** //

// * Header * //
#header {
  border-bottom: 1px solid $gray_8;
}

// * Footer * //
#footer {
  @include border-top-right-radius($global-radius);
  @include border-top-left-radius($global-radius);
  background-color: tint($gray_8, 60%);
  border: 1px solid $gray_8;
  border-bottom: none;
}
