// *** Variables *** //
// Sass variables that generate a single value.
// Code here shouldn’t generate any selectors or rules.

// *
// * Colors
// *

// Red family : use for DANGER, ERROR, REQUIRED : Hue ~357°
$red:           hsl(359, 77%, 40%);
$light-red:     hsl(357, 82%, 78%);
$pale-red:      hsl(355, 50%, 95%);

// Orange family: use for WARNING, ALERT : Hue ~39°
$orange:        hsl(30, 100%, 45%);
$light-orange:  hsl(39, 99%, 72%);
$pale-orange:   hsl(60, 90%, 96%);

// Blue family: use for INFO, OPTIONAL ACTION, LINKS : Hue ~200°
$blue:          hsl(200, 77%, 43%);
$light-blue:    hsl(200, 79%, 57%);
$pale-blue:     hsl(201, 52%, 95%);

// Green family: use for STATUS, SUCCESS, SUGGESTED ACTION : Hue ~70°
$green:         hsl(71, 78%, 28%);
$light-green:   hsl(70, 61%, 51%);
$pale-green:    hsl(69, 56%, 93%);

// Canonical grays, defined by gray_[n] where [n] is floor/10 value of hsl()
// I define grays this way to allow me to redefine grays into more meaningful
// variables later, and to help minimize proliferation of grays (this is hard)
$gray_3:          hsl(0, 0%, 35%);
$gray_6:          hsl(0, 0%, 67%);
$gray_8:          hsl(0, 0%, 85%);

// Gray aliases. Meaningful gray names, aliased to canonical grays
$gray:            $gray_3;
$light-gray:      $gray_6;
$pale-gray:       $gray_8;
$white:           white;
$black:           black;
$eigengrau:       hsl(240,14,10);   // use instead of pure black for text or large fields
$paperwhite:      hsl(0,0,98);     // use instead of pure white for large fields

// Foundation defaults colors.
$foundation-primary:    hsl(195, 100%, 36%);  // blue
$foundation-secondary:  hsl(0, 0%, 91%);      // grey
$foundation-alert:      hsl(9, 87%, 54%);     // red
$foundation-success:    hsl(142, 44%, 47%);   // green
$foundation-warning:    hsl(30, 87%, 54%);    // orange
$foundation-info:       hsl(198, 61%, 77%);   // pale blue

// Assign some colors
$body-bg:           $paperwhite;
$primary-color:     $blue;
$secondary-color:   $gray_3;
$alert-color:       $red;
$success-color:     $green;
$warning-color:     $orange;
$info-color:        $light-blue;

// Link colors.
$anchor-font-color:         $blue;
$anchor-font-color-hover:   $green;
$anchor-font-color-active:  $red;
$anchor-font-color-visited: $light-blue;


// *
// * Fonts
// *

// Stacks
$Helvetica:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$SourceSansPro: "SourceSansPro", #{$Helvetica};
$OpenSans:      "Open Sans", #{$Helvetica};
$monospace:     Consolas, monaco, monospace;

// Assign some fonts.
$default-font-family: $OpenSans;

$body-font-family: $default-font-family;
$header-font-family: $default-font-family;
$code-font-family: $monospace;





