/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Computer */
/* line 2, ../sass/_grid.scss */
.grid_1 {
  width: 6.5%;
}

/* line 3, ../sass/_grid.scss */
.grid_2 {
  width: 15%;
}

/* line 4, ../sass/_grid.scss */
.grid_3 {
  width: 23.5%;
}

/* line 5, ../sass/_grid.scss */
.grid_4 {
  width: 32%;
}

/* line 6, ../sass/_grid.scss */
.grid_5 {
  width: 40.5%;
}

/* line 7, ../sass/_grid.scss */
.grid_6 {
  width: 49%;
}

/* line 8, ../sass/_grid.scss */
.grid_7 {
  width: 57.5%;
}

/* line 9, ../sass/_grid.scss */
.grid_8 {
  width: 66%;
}

/* line 10, ../sass/_grid.scss */
.grid_9 {
  width: 74.5%;
}

/* line 11, ../sass/_grid.scss */
.grid_10 {
  width: 83%;
}

/* line 12, ../sass/_grid.scss */
.grid_11 {
  width: 91.5%;
}

/* line 13, ../sass/_grid.scss */
.grid_12 {
  width: 100%;
}

/* line 26, ../sass/_grid.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}

/* line 32, ../sass/_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 33, ../sass/_grid.scss */
.omega {
  margin-right: 0;
}

/* line 35, ../sass/_grid.scss */
.container {
  width: 90%;
  /*width: 1000px;*/
  max-width: 1000px;
  margin: auto;
}

/* line 44, ../sass/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 44, ../sass/_grid.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 44, ../sass/_grid.scss */
* html .clearfix, *:first-child + html .clearfix {
  zoom: 1;
}

/* Mobile */
@media screen and (max-width: 480px) {
  /* line 63, ../sass/_grid.scss */
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 26, 2013 04:54:15 PM America/New_York */
@font-face {
  font-family: 'SourceSansPro';
  src: url("/fonts/sourcesans/SourceSansPro-Light-webfont.eot");
  src: url("/fonts/sourcesans/SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesans/SourceSansPro-Light-webfont.woff") format("woff"), url("/fonts/sourcesans/SourceSansPro-Light-webfont.ttf") format("truetype"), url("/fonts/sourcesans/SourceSansPro-Light-webfont.svg#SourceSansPro") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("/fonts/sourcesans/SourceSansPro-LightIt-webfont.eot");
  src: url("/fonts/sourcesans/SourceSansPro-LightIt-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesans/SourceSansPro-LightIt-webfont.woff") format("woff"), url("/fonts/sourcesans/SourceSansPro-LightIt-webfont.ttf") format("truetype"), url("/fonts/sourcesans/SourceSansPro-LightIt-webfont.svg#SourceSansPro") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("/fonts/sourcesans/SourceSansPro-Bold-webfont.eot");
  src: url("/fonts/sourcesans/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesans/SourceSansPro-Bold-webfont.woff") format("woff"), url("/fonts/sourcesans/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("/fonts/sourcesans/SourceSansPro-Bold-webfont.svg#SourceSansPro") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("/fonts/sourcesans/SourceSansPro-BoldIt-webfont.eot");
  src: url("/fonts/sourcesans/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesans/SourceSansPro-BoldIt-webfont.woff") format("woff"), url("/fonts/sourcesans/SourceSansPro-BoldIt-webfont.ttf") format("truetype"), url("/fonts/sourcesans/SourceSansPro-BoldIt-webfont.svg#SourceSansPro") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 125, ../sass/screen.scss */
html, body {
  font-family: "SourceSansPro", helvetica, arial, sans-serif;
}

/* line 128, ../sass/screen.scss */
body {
  line-height: 1.2;
  color: #16161d;
  background-color: #fafafa;
}
@media screen and (max-width: 1024px) {
  /* line 128, ../sass/screen.scss */
  body {
    font-size: 1em;
  }
}

/* line 136, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 141, ../sass/screen.scss */
a:link {
  color: #198ac2;
  text-decoration: none;
}
/* line 145, ../sass/screen.scss */
a:hover {
  color: #6b7f10;
  text-decoration: underline;
}
/* line 149, ../sass/screen.scss */
a:active {
  color: #b5171a;
}
/* line 152, ../sass/screen.scss */
a:visited {
  color: #3baee8;
  text-decoration: none;
}

/* line 157, ../sass/screen.scss */
h1 {
  font-weight: bold;
  color: #16161d;
  font-size: 2.25em;
}

/* line 161, ../sass/screen.scss */
h2 {
  font-weight: bold;
  color: #16161d;
  font-size: 1.75em;
}

/* line 165, ../sass/screen.scss */
h3 {
  font-weight: normal;
  color: #595959;
  font-size: 1.75em;
}

/* line 169, ../sass/screen.scss */
h4 {
  font-weight: bold;
  color: #16161d;
  font-size: 1.125em;
}

/* line 173, ../sass/screen.scss */
h5 {
  font-weight: normal;
  color: #595959;
  font-size: 1em;
}

/* line 177, ../sass/screen.scss */
h6 {
  font-weight: normal;
  color: #595959;
  font-size: 0.75em;
}

/* line 181, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 186, ../sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 189, ../sass/screen.scss */
em, cite, i {
  font-style: italic;
}

/* Forms */
/* Lists */
/* line 199, ../sass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 202, ../sass/screen.scss */
ol {
  list-style-type: decimal;
}

/* line 205, ../sass/screen.scss */
ol, ul {
  padding-left: 1.875em;
  padding-left: 1.875em;
  margin: 1em 0;
}
/* line 209, ../sass/screen.scss */
ol ul, ol ol, ul ul, ul ol {
  margin: 0;
}

/* line 228, ../sass/screen.scss */
.align-left {
  text-align: left;
}

/* line 231, ../sass/screen.scss */
.align-center {
  text-align: center;
}

/* line 234, ../sass/screen.scss */
.align-right {
  text-align: right;
}
